<!DOCTYPE HTML>
{% load static %}

<html lang="pt-br">
<head>
<title>Bruno Sousa - Fotografia | Brasília DF</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/bootstrap.min.css'%}" rel='stylesheet' type='text/css' />
<script src="{% static 'js/jquery.min.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="application/x-javascript">
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar(){
		window.scrollTo(0,1);
	};
</script>
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
<script src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript" 	src="{% static 'js/jquery.smint.js' %}"></script>
		<script type="text/javascript">
			$(document).ready( function() {
			    $('.subMenu').smint({
			    	'scrollSpeed' : 1000
			    });
			});
		</script>	
</head>
<body>
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="{% static 'images/logo_bs.png' %}" alt=""/></a>
		</div>
	    <div class="slider_container sTop">
  		<div class="wmuSlider example1">
			   <div class="wmuSliderWrapper" >
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	 <div class="banner-wrap">
				   		 <div class="slider-left">
						    <h1>Ensaios de casal, gestante, debutante, corporativo, família, músicos... e o que mais a sua criatividade pedir.</h1>
							<!--<p class="top_desc">Para fotografar casamentos é essencial um olhar sensível, para conseguir traduzir em imagem toda a emoção que um momento como este é capaz de produzir. A equipe Edilon Moura Fotografia capta o melhor de cada casal, e potencializa essa beleza em seus álbuns, com uma edição personalizada.</p>-->
							<!--<p class="bottom_desc">- imperdiet doming</p>-->
						 </div>
					 </div>
					</article>
				   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	 <div class="banner-wrap">
				   		 <div class="slider-left">
						    <h1>Casamentos</h1>
							<!--<p class="top_desc">Para fotografar casamentos é essencial um olhar sensível, para conseguir traduzir em imagem toda a emoção que um momento como este é capaz de produzir. A equipe Edilon Moura Fotografia capta o melhor de cada casal, e potencializa essa beleza em seus álbuns, com uma edição personalizada.</p>-->
							<!--<p class="bottom_desc">- imperdiet doming</p>-->
						 </div>
					 </div>
				   </article>
				   <article style="position: absolute; width: 100%; opacity: 0;">
				   	 <div class="banner-wrap">
				   		 <div class="slider-left">
						    <h1>Aniversário de 15 anos</h1>
							<!--<p class="top_desc">It Is very likely that your best photograph has not yet been captured</p>-->
							<!--<p class="bottom_desc">- imperdiet doming</p>-->
						 </div>
					 </div>
				   </article>
				</div>
                <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="">2</a></li>
                </ul>
                <!--<div class="header_btn"><a class="btn2" href="#"><span>Trabalhos</span></a></div>-->
              </div>
              <script src="{% static 'js/jquery.wmuSlider.js' %}"></script>
				 <script>
					   $('.example1').wmuSlider();
   			     </script> 	           	     
   	     </div>    
	</div>  
	<nav class="subMenu navbar-custom navbar-scroll-top smint" role="navigation" style="position: absolute; top: 737px;">
	        <div class="container">
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
	                    <img src="{% static 'images/nav-icon.png' %}" title="drop-down-menu">
	                </button>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="navbar-collapse navbar-left navbar-main-collapse collapse" style="height: 1px;">
	                <ul class="nav navbar-nav">
	                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
	                    <li class="active">
	                        <a id="sTop" class="subNavBtn active" href="#">
								<img src="{% static 'images/home_icon.svg' %}">
							</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a id="s1" class="subNavBtn" href="#">Portfolio</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a id="s2" class="subNavBtn" href="#">Serviços</a>
	                    </li>
						<!--
	                    <li class="page-scroll">
	                        <a id="s3" class="subNavBtn" href="#">Sign Up</a>
	                    </li> -->
	                   <li class="page-scroll">
	                        <a id="s4" class="subNavBtn" href="#">O Profissional</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a id="s5" class="subNavBtn" href="#">Contato</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse
	             	<a id="s4" class="right-msg subNavBtn msg-icon" href="#"><span> </span></a> -->
	                <div class="clearfix"> </div>
	        </div>
	        <!-- /.container -->
   	  </nav>
      <div class="portfolio s1" id="portfolio">
		  <div class="portfolio_box">
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p1.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p2.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Shutter Project title</span>
									 <button>View photo</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p3.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									  <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p4.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
		  <div class="portfolio_box">
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p5.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									  <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p6.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									  <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p7.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									  <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p8.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
		  <div class="portfolio_box">
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p9.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									  <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p10.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Shutter Project title</span>
									 <button>View photo</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
							<a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p11.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="col_1_of_4 span_1_of_4">
						   <a href="#" class="b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/p12.jpg' %}" class="img-responsive" alt=""/>
								<div class="b-wrapper">
								   <h2 class="b-animate b-from-left    b-delay03 ">
									 <img src="{% static 'images/p_logo.png' %}" class="img-responsive" alt=""/>
									 <span>Título do album</span>
									 <button>Ver Foto</button>
									 <label> <i class="heart"> </i>21</label>
									</h2>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
	  </div>
   	<div class="portfolio_bottom">
   	 <a class="btn3" href="#"><span>mais</span></a>
   </div>
   <div class="services s2" id="services">
   	  <div class="container">
   	  	<h2 class="service_head">Serviços</h2>
   	   <div class="row text-center">
   	    <div class="col-md-3 service_grid">
   		  <i class="icon1"> </i>
   		  <h3 class="m_1"><a href="#">One Page Layout</a></h3>
   		  <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt..</p>
   		</div>
   		<div class="col-md-3 service_grid">
   		  <i class="icon2"> </i>
   		 <h3 class="m_1"><a href="#">Flat Design</a></h3>
   		  <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt..</p>
   		</div>
   		<div class="col-md-3 service_grid">
   		  <i class="icon3"> </i>
   		  <h3 class="m_1"><a href="#">Photo portfolio</a></h3>
   		  <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt..</p>
   		</div>
   		<div class="col-md-3">
   		  <i class="icon4"> </i>
   		  <h3 class="m_1"><a href="#">Easy to edit</a></h3>
   		  <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt..</p>
   		</div>
   	  </div>
   	  </div>
   	</div>
	<!--
    <div class="photograph">
   	  <div class="container">
   		<div class="slider-left">
		  <h1>Never Stop Photographing</h1>
		  <p class="top_desc">It Is very likely that your best photograph has not yet been captured</p>
		  <p class="bottom_desc">- imperdiet doming</p>
		</div>
   	  </div>
   	</div>

   	<div class="signup s3" id="signup">
       <div class="container">
   			<h3 class="m_3">Are you Interested ? <br> Sign up now</h3>
   			<div class="contact-form">
			   <form method="post" action="contact-post.html">
				 <input type="text" class="textbox" value="Nome" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
				 <input type="text" class="textbox" value="Sobrenome" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
				 <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address';}">
				 <input type="submit" value="Enviar">
			   </form>
			</div>
   		</div>
   	</div> -->
    <div class="about s4" id="about">
   		<div class="container">
   			<h3 class="m_4">O Profissional</h3>
   			<p class="m_5">nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
   			<div class="row text-center">
   				<div class="about-grid text-center">
   				  <img src="{% static 'images/pic1.png' %}" class="img-responsive" alt=""/>
   				  <h3><a href="#">Bruno Sousa Dias<br></a></h3>
   				  <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
   				</div>
   				<!-- <div class="col-md-3 about-grid text-center">
   				  <img src="{% static 'images/pic3.png' %}" class="img-responsive" alt=""/>
   				  <h3><a href="#">John Doe<br>General Manager</a></h3>
   				  <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
   				</div>
   				<div class="col-md-3 about-grid text-center">
   				  <img src="{% static 'images/pic2.png' %}" class="img-responsive" alt=""/>
   				  <h3><a href="#">John Doe<br>General Manager</a></h3>
   				  <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
   				</div>
   				<div class="col-md-3 about-grid text-center">
   				  <img src="{% static 'images/pic4.png' %}" class="img-responsive" alt=""/>
   				  <h3><a href="#">John Doe<br>General Manager</a></h3>
   				  <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
   				</div> -->
   			</div>
   		</div>
   	</div>
   	<div class="contact s5" id="contact">
   		<div class="container">
   			<div class="row">
   				<div class="col-md-8 contact_left">
   					<h3>Contato</h3>
   					<p class="m_6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p>
   					<p class="m_7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p>
   					<ul class="contact_info">
			  	<!--<li><i class="pin"> </i><span>Lorem ipsum dolor sit amet, consectetuer <br>adipiscing elit, sed diam nonummy nibh euismod</span></li>-->
			  	<li><i class="mobile"> </i><span>Telefone: +55-61-98668-5257</span></li>
			  	<li><i class="message"> </i><span class="msg">bruno.sousa.d@gmail.com</span></li>
			  </ul>
   				</div>
   				<div class="col-md-4">
   					<div class="contact_right">
   				<div class="contact-form_grid">
				   <form method="post" action="contact-post.html">
					 <input type="text" class="textbox" value="Nome" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Seu nome';}">
					 <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Seu email';}">
					 <input type="text" class="textbox" value="Assunto" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Assunto';}">
					 <textarea value="Mensagem:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Messagem';}">Mensagem</textarea>
					 <input type="submit" value="Enviar">
				   </form>
			      </div>
   			     </div>
   				</div>
   			</div>
   		</div>
   	</div>
   	<div class="footer">
   		<div class="container">
   			<div class="copy">
		       <p>&copy; 2017 Todos os direitos reservados</p>
		    </div>
		    <div class="social">	
		      <ul>	
			   <li class="facebook"><a href="#"><span> </span></a></li>
			   <li class="twitter"><a href="#"><span> </span></a></li>
			   <li class="rss"><a href="#"><span> </span></a></li>	
			   <li class="google"><a href="#"><span> </span></a></li>			
		     </ul>
			</div>
			<div class="clearfix"></div>
   		</div>
   	</div>

   	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

